body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 5px;
    text-align: center;
}
.box{
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 3px solid black;
    margin: 50px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
#services{
    text-align: center;
    background-image:url(s_image.jpg) ;
    background-size: cover;
    background-position: center;
    padding: 70px 1px;
    color: white;
}
#contact-me{
    background-image: url(c_image.jpg);
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 70px 10px;
}
p{
    text-align: justify;
}
.item{
    flex: 1 1 200px;
    margin: 10px;
}
img{
    width: 100%;
    margin: auto;
}
footer{
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px;
}
footer p {
    text-align:center ;
}
    
